@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  color: white;
  background-color: #d3d3d3; /* Grey wash background outside the border */
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%; /* Or adjust width as needed */
  height: 80%;
  padding: 2rem; /* Adds space inside the border */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black; /* Background color inside the border */
  position: relative; /* Keeps the background image inside the container */
  border-width: 2rem; /* Border width */
  border-style: solid;
  border-image: url("https://giphy.com/gifs/magic-eye-gw3RX8HWJygFr5pC") 30
    stretch;
}

header {
  display: flex;
  justify-content: space-between; /* Spread name and menu apart */
  align-items: center;
  margin-bottom: 30px;
}

#name {
  font-size: 36px;
  font-weight: bold;
}

#mainHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.tab:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

section {
  padding: 2rem;
  text-align: left;
  background-color: black;
  margin-bottom: 2rem;
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("images/MATRIX.gif");
  z-index: -1;
}

.displayNone {
  display: none;
}

